// src/assets/styles/Collapse.module.scss

.collapseContainer {
  border-radius: 5px;
  overflow: hidden;
  max-width: 1023px; // Assure que le conteneur ne dépasse pas cette largeur
  width: 100%; // Utilise toute la largeur disponible dans max-width
  box-sizing: border-box; // Inclut le padding et la bordure dans la largeur totale
}

.cont {
  background-color: #ff6060;
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%; // Assure que l'en-tête utilise toute la largeur du conteneur
  box-sizing: border-box; // Inclut le padding et la bordure dans la largeur totale
  height: 54px; // Hauteur fixe de 54px
}

.arrowDown,
.arrowUp {
  font-size: 16px;
}

.content {
  border-radius: 0 0 5px 5px;
  background-color: #f6f6f673;
  max-height: 0;
  overflow: hidden;
  width: 100%; // Assure que le contenu utilise toute la largeur du conteneur
  box-sizing: border-box; // Inclut le padding et la bordure dans la largeur totale
}

.expanded {
  padding: 20px;
  max-height: 500px; // Hauteur maximale quand le contenu est étendu
  width: 100%; // Assure que le contenu utilise toute la largeur du conteneur
  box-sizing: border-box; // Inclut le padding et la bordure dans la largeur totale
}
