.collapseContainer {
  border-radius: 5px;
  overflow: hidden;
  width: 100%; // Utilise toute la largeur disponible définie par le style inline
  box-sizing: border-box; // Inclut le padding et la bordure dans la largeur totale

  @media (max-width: 767px) {
    width: 335px;
  }
}

.cont {
  background-color: #ff6060;
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 54px;

  @media (max-width: 767px) {
    max-width: 335px;
    height: 30px;
    font-size: 16px;
    padding: 10px;
  }
}

.arrow {
  display: flex;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.content {
  border-radius: 0 0 5px 5px;
  background-color: #f6f6f673;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  transition: max-height 0.3s ease;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.innerContent {
  padding: 20px;
  opacity: 0;
  transform: translateY(-100px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.expanded {
  max-height: 500px; // Ajustez cette valeur selon la taille du contenu
}

.expanded .innerContent {
  opacity: 1;
  transform: translateY(0);
}
