/* src/styles/Collapse.module.scss */

// Variables
$border-radius: 5px;
$bg-color: #ff6060;
$text-color: white;
$content-bg-color: #f6f6f673;
$transition-duration: 0.3s;

// Mixins
@mixin responsive-width {
  width: 100%; // Utilise toute la largeur disponible définie par le style inline
  box-sizing: border-box; // Inclut le padding et la bordure dans la largeur totale

  @media (max-width: 1024px) {
    width: 335px;
  }
}

@mixin flex-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin transition-transform {
  transition: transform $transition-duration ease;
}

@mixin transition-opacity-transform {
  transition:
    opacity $transition-duration ease,
    transform $transition-duration ease;
}

// Styles
.collapseContainer {
  border-radius: $border-radius;
  overflow: hidden;
  @include responsive-width;
}

.cont {
  background-color: $bg-color;
  border-radius: $border-radius;
  color: $text-color;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  height: 54px;
  @include flex-center-space-between;
  @include responsive-width;

  @media (max-width: 1024px) {
    height: 30px;
    font-size: 16px;
    padding: 10px;
  }
}

.arrow {
  display: flex;
  @include transition-transform;
}

.rotated {
  transform: rotate(180deg);
}

.content {
  border-radius: 0 0 $border-radius $border-radius;
  background-color: $content-bg-color;
  max-height: 0;
  overflow: hidden;
  @include responsive-width;
  font-size: 18px;
  transition: max-height $transition-duration ease;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

.innerContent {
  padding: 20px;
  opacity: 0;
  transform: translateY(-100px);
  @include transition-opacity-transform;
}

.expanded {
  max-height: 500px; // Ajustez cette valeur selon la taille du contenu
}

.expanded .innerContent {
  opacity: 1;
  transform: translateY(0);
}
