/* src/styles/Header.module.scss */

.header {
  margin-top: 40px;
  background-color: #fff;
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0px;

  @media (max-width: 767px) {
    height: auto;
    margin-top: 20px;
  }
  @media (max-width: 230px) {
    flex-direction: column;
    gap: 5px;
  }
}

.nav {
  margin-left: auto;
  display: flex;
  align-items: center;

  @media (max-width: 230px) {
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 57px;

    @media (max-width: 767px) {
      gap: 26px;
    }
  }

  li {
    margin: 0;
    font-size: 24px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .active {
    text-decoration: underline;
  }
}

.logo {
  width: 210.32px;
  height: 68px;
  margin-right: 0px;

  @media (max-width: 767px) {
    width: 145px;
    height: 46.88px;
  }
}
