/* src/styles/NotFound.module.scss */

.page404 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 139px;
  align-items: center;

  @media (max-width: 1024px) {
    gap: 113px;
  }
}

.e404 {
  margin-top: 139px;
  width: 597px;
  height: 263px;

  @media (max-width: 1024px) {
    width: 198px;
    height: 99px;
  }
}

.txt {
  margin: 0;
  padding: 0;
  color: #ff6060;
  font-size: 36px;

  @media (max-width: 1024px) {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    max-width: 260px;
  }
}

.link {
  text-decoration: line;
  color: #000;
  font-size: 18px;
  margin-bottom: 139px;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
